body {
    margin: 10;

    background-color: #050505;
    color: #d8d8d8;

    font-family: "Courier New", monospace;
    
.chave-avancada {
    color: #ff0000;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000;

    font-weight: bold;
}
